.button-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap:32px;
  row-gap: 16px;
}

.question-card {
  padding: 1em 1em !important;
  width: fit-content !important;
}

.App {
  padding: 2em 3em;
  max-width: 1200px;
  margin: auto;
}

.loading {
  font-size: 24px;
  font-weight: 500;
  min-height: 84vh;
}

.loading > label {
  color: white !important;
}

.quiz-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.question-breadcrumb {
  text-transform: capitalize;
}

.admin-quickstats {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
}

.admin-dot-indicator {
  margin-left: 8px;
  margin-right: 16px;
  vertical-align: middle;
}

.admin-dot-indicator > .icon {
  background-color: #21FD82 !important;
}

@media only screen and (max-width: 720px) {
  .button-grid {
    grid-template-columns: 1fr;
  }

  .quiz-header {
    flex-direction: column;
  }
  
  .quiz-breadcrumbs {
    margin-bottom: 12px !important;
  }

  .App {
    padding: 2em 1.5em;
  }
}