.button-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap:32px;
  row-gap: 16px;
}

.question-card {
  padding: 1em 1em !important;
  width: fit-content !important;
}

.quiz-container {
  padding: 2em 3em;
}

.quiz-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.question-breadcrumb {
  text-transform: capitalize;
}

@media only screen and (max-width: 720px) {
  .button-grid {
    grid-template-columns: 1fr;
  }

  .quiz-header {
    flex-direction: column;
  }
  
  .quiz-breadcrumbs {
    margin-bottom: 12px !important;
  }

  .quiz-container {
    padding: 2em 1.5em;
  }
}